
/*     VARIABLES      */
/* ------------------ */
$color-primary: rgb(85, 197, 122);
$color-secondary: rgb(165, 42, 42);
$color-tertiary: #f6e27f;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b483;
$color-secondary-light: #ca3737;
$color-secondary-dark: #8d2323;
$color-background-light: rgba(2, 255, 2, .05);
$color-white: #fff;
$color-black: #000;
$color-grey-fulldark: #323232;
$color-grey-dark: #777777;
$color-grey-dark-2: #999;
$color-grey-light: #dcdcdc;
$color-shadow: rgba($color-black, 0.2);
$color-footer: #c59c44;


/* ------------------ */