/*    card features   */
/* ------------------ */
.card--features {
    height: 30rem;
    max-width: 25rem;
    -webkit-box-shadow:  2rem 2rem 5rem $color-shadow;
            box-shadow:  2rem 2rem 5rem $color-shadow;
    background-color: rgba($color-white, 0.8);
    border-radius: 0.3rem;
    display: block;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    margin: 2rem 0;
    padding-bottom: 2rem;
    text-align: center;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;

    &__icon {
        font-size: 8rem;
        color: $color-primary-dark;
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__description {
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
                transform: translateY(-1.5rem) scale(1.03);
    }
}

.card--services {
    background-size: cover;
    background-position: center;
    min-height: 10rem;
    max-width: 50rem;
    margin: 2rem auto;
    @supports (display:grid) {
        margin: 0;
    }
    width: 100%;
    display: block;
    display: grid;
    grid-template-rows: 10rem;
    -webkit-transform: skewX(-12deg);
            transform: skewX(-12deg);
    -webkit-transition: all .5s;
    transition: all .5s;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    &:link,
    &:visited {
        border-radius: 5px;
        // box-shadow: 0rem 0rem 3rem 1rem rgba($color-white, .5);
        border: 1px solid $color-white;
        background-color: $color-white;
        font-size: 1.4rem;
        text-decoration: none;
        color: $color-primary;
    }

    &__sub-header {
        padding: 2px 2rem;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.2rem;
        background-color: rgba($color-white, 0.8);
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    &:hover &__sub-header {
        background-color: $color-primary;
        color: $color-white;
    }

    &--alt:hover &__sub-header {
        background-color: #ee6352;
        color: $color-white;
    }

    &:active {
        -webkit-box-shadow: 0 1.5rem 3rem $color-shadow;
                box-shadow: 0 1.5rem 3rem $color-shadow;
        -webkit-transform: skewX(0);
                transform: skewX(0);
    }

    &:active &__sub-header {
        -webkit-transform: skewX(0);
                transform: skewX(0);
    }

    &--left {
        justify-self: center;

        @include respond-stage2 {
            justify-self: right;
        }
    }

    &--right {
        justify-self: center;

        @include respond-stage2 {
            justify-self: left;
        }
    }


    &--page {
        @include respond-stage7 {
            grid-template-rows: 8rem;
            &:link,
            &:visited {
                font-size: 1.2rem;
            }
        }
    }
}

.card--swivel {
    -webkit-perspective: 150rem;
            perspective: 150rem;
    position: relative;
    height: 30rem;
    width: 30rem;
    margin: 2rem;
    
    @include respond-stage6 {
        height: 22rem;
        width: 22rem;
    }

    @include respond-stage7 {
        height: 17rem;
        width: 17rem;
    }

    &__side {
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        @supports (display:grid) {
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        border-radius: 5px;
        border: 1px solid transparent;
        -webkit-box-shadow: 0 .5rem 1rem $color-shadow;
                box-shadow: 0 .5rem 1rem $color-shadow;
        padding: 2rem;
        transform-style: preserve-3d;

        &:hover {
            border: 1px solid $color-primary;
            color: $color-white;
        }

        &--front {
            background-size: cover;
            background-position: center;
        }

        &--back {
            background-color: $color-primary;
            -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
        }
    }

    &:hover &__side--front {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

    &:hover &__side--back {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}