 /* ----------------------------------------------- */
/* Variable sets */
/* ----------------------------------------------- */
:root {
    /* --color-pri: rgb(39, 174, 96); */
    --color-pri: #cc0000;
    --color-priDark: #a50202;
    --color-background: white;
    --color-backgroundAlt: rgb(235, 235, 235);
    --color-backgroundDark: rgb(41, 41, 41);
  }

/* ----------------------------------------------- */
/* Setup use only */
/* ----------------------------------------------- */
.tm-test {
    border: black solid 1px;
    background: greenyellow;
    height: 50px;
    width: 50px;
}

/* ----------------------------------------------- */
/* General */
/* ----------------------------------------------- */
html,
body {
    font-weight: 300;
    font-size: 20px;
    background-color: var(--color-background);
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../img/service-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

h2 {
    font-size: 100%;
    font-weight: 400
}

h1 {
    font-size: 400%;
    font-weight: 300;
}

h3 {
    font-size: 100%;
    font-weight: 400;
}

h3:after {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 25%;
    margin: 0 auto;
    margin-top: 20px;
}

form {
    margin: 0 auto;
    margin-top: 2em;
    font-size: 70%;
    max-width: 400px;
}

form input[type="email"] {
    width:60%;
    padding: 8px 12px 8px 12px;
}

form .label {
    width: 100%;
    padding-bottom: 0.5em;
}

li {
    list-style: none;
    margin: 0.1em 0.3em;
    display: inline-flex
}

a {
    color: white;
    outline: none;
    text-decoration: none;
    padding-bottom: 1em;
}

button {
    background-color: #f6e27f;

}
#site {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 2em;
    text-align: center;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 2em;
    grid-template-areas: ". ."
                         "title title"
                         "details details"
                         "social companies"
}

.title {
    grid-area: title;
}

.title img {
    height: 5em;
    width: auto;
}

.details {
    grid-area: details;
}
#social-media {
    grid-area: social;
    text-align: left;
    justify-self: left;
    align-self: end;
}

#companies {
    grid-area: companies;
    font-size: 80%;
    text-align: right;
    align-self: end;
    justify-self: right;
}

#companies a:hover {
    border-bottom: solid white 1px;
}

#companies img {
    height: 1.2em;
    width: auto;
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    #site {
        grid-template-areas: "social social"
        "title title"
        "details details"
        "companies companies"
    }
    #companies,
    #social-media {
        text-align: center;
        justify-self: center;
    }
    #social-media {
        align-self: start;
    }
}

@media screen and (max-width: 650px) {
    html,
    body {
        font-size: 16px;
    }
    .middle {
        padding: 0 2em;
    }
    #site {padding: 1em;}
    .title img {
        height: 4em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 250%
    }
    h2 {
        font-size: 90%
    }
    h3 {
        font-size: 90%;
        max-width: 300px;
    }
    form { padding-left: 2em; padding-right: 2em;}
}

@media screen and (max-width: 420px) {
    .title img {
        height: 3em;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 220%
    }
    h2 {
        font-size: 90%
    }
    h3 {
        font-size: 90%;
        max-width: 300px;
        margin: 0 auto;
    }
    form { padding-left: 2em; padding-right: 2em;}
}